.joinUs {
  display: flex;
}
.filterJoinUs {
  height: 60%;
  width: 100%;
  margin: auto;
  transform: translateY(0);
  z-index: 10;
  display: flex;
  padding: 20px 0;
}
.titleContainerJoinUs {
  position: relative;
  top: -5rem;
}
.titleContainerJoinUs h3 {
  position: absolute;
  z-index: 10;
  font-size: 6rem;
  color: #b8b7ad;
  margin: auto;
  white-space: nowrap;
  width: fit-content;
  font-weight: 400;
}
.containerJoinUs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}
.containerJoinUs div:nth-child(1) {
  display: flex;
}
.containerJoinUs div:nth-child(1) img {
  height: auto;
  width: 100%;
  margin: auto;
}

.containerJoinUs div:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.containerJoinUs div:nth-child(2) p {
  font-size: 3rem;
  text-align: justify;
  margin: auto 0;
  width: 80%;
  color: #b8b7ad;
}
.containerJoinUs div:nth-child(2) span {
  color: #61589a;
}
